# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [20]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [21]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [22]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'FranmaZamora'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [23]:
if not database_exists(engine.url):
    create_database(engine.url)

In [24]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql("SPACEXTBL", con=engine, if_exists="replace")

In [25]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,8191.079109589042,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SES,True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,164,2022-08-28,Falcon 9,13260.00000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3033383ecb075134e7cd,5.0,SpaceX,True,1,B1069,-80.603956,28.608058,1
164,164,165,2022-08-31,Falcon 9,13260.00000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,6,B1063,-120.610829,34.632093,1
165,165,166,2022-09-17,Falcon 9,13260.00000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,5,B1067,-80.577366,28.561857,1
166,166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,0,B1072,-80.577366,28.561857,1
167,167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,NASA (CCtCap),True,0,B1077,-80.603956,28.608058,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """ select LaunchSite,Longitude,Latitude from SPACEXTBL;   """
df  = pd.read_sql(query, con = engine )
df

       LaunchSite   Longitude   Latitude
0    CCSFS SLC 40  -80.577366  28.561857
1    CCSFS SLC 40  -80.577366  28.561857
2    CCSFS SLC 40  -80.577366  28.561857
3     VAFB SLC 4E -120.610829  34.632093
4    CCSFS SLC 40  -80.577366  28.561857
..            ...         ...        ...
163    KSC LC 39A  -80.603956  28.608058
164   VAFB SLC 4E -120.610829  34.632093
165  CCSFS SLC 40  -80.577366  28.561857
166  CCSFS SLC 40  -80.577366  28.561857
167    KSC LC 39A  -80.603956  28.608058

[168 rows x 3 columns]

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
query = """ SELECT * FROM SPACEXTBL
 WHERE LaunchSite LIKE 'CCS%' 
 LIMIT 5  """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SES,True,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.00000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,Thaicom,True,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """ SELECT *, Sum(PayloadMass)
FROM SPACEXTBL
 WHERE Customers LIKE '%NASA (CRS)%' 

  """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class,Sum(PayloadMass)
0,2,3,2013-03-01,Falcon 9,677.0,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0,77967.937329

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """ SELECT *, AVG(PayloadMass)
FROM SPACEXTBL
WHERE Serial like 'B1%'

"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class,AVG(PayloadMass)
0,3,4,2013-09-29,Falcon 9,500.0,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,8191.079109589042,1.0,MDA,True,0,B1003,-120.610829,34.632093,0,8283.080068

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """ SELECT *, Min(Date)
FROM SPACEXTBL 
Where LandingOutcome like'%TRUE RTLS%'"""


df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class,Min(Date)
0,16,17,2015-12-22,Falcon 9,2034.0,Orbcomm-OG2-M2,LEO,CCSFS SLC 40,True RTLS,1,1,0,1,5e9e3032383ecb267a34e7c7,1.0,Orbcomm,True,0,B1019,-80.577366,28.561857,1,2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [13]:
query = """ SELECT Serial 
FROM SPACEXTBL 
Where LandingOutcome like '%TRUE ASDS%' and PayloadMass between 4000 and 6000"""


df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [14]:
query = """ SELECT *, Count(FlightNumber)
FROM SPACEXTBL 
group by Class

"""

df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class,Count(FlightNumber)
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0,31
1,6,7,2014-04-18,Falcon 9,2296.00000,CRS-3,ISS,CCSFS SLC 40,True Ocean,1,0,0,1,8191.079109589042,1.0,NASA (CRS),True,0,B1006,-80.577366,28.561857,1,137

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [17]:
query = """ SELECT *, Max(PayloadMass)
FROM SPACEXTBL 
Group by Serial
"""


df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class,Max(PayloadMass)
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0,8191.07911
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0,525.00000
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0,677.00000
3,3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,8191.079109589042,1.0,MDA,True,0,B1003,-120.610829,34.632093,0,500.00000
4,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,8191.079109589042,1.0,SES,True,0,B1004,-80.577366,28.561857,0,3170.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,125,126,2021-12-21,Falcon 9,8191.07911,CRS-24,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,NASA (CRS),True,1,B1069,-80.603956,28.608058,1,13260.00000
58,130,131,2022-02-02,Falcon 9,8191.07911,NROL-87,LEO,VAFB SLC 4E,True RTLS,1,1,0,1,5e9e3032383ecb554034e7c9,5.0,"National Reconnaissance Office,USAF",True,3,B1071,-120.610829,34.632093,1,13260.00000
59,166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,0,B1072,-80.577366,28.561857,1,13260.00000
60,145,146,2022-05-14,Falcon 9,13260.00000,Starlink 4-15 (v1.5),VLEO,CCSFS SLC 40,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,2,B1073,-80.577366,28.561857,1,13260.00000
61,167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,NASA (CCtCap),True,0,B1077,-80.603956,28.608058,1,8191.07911

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [28]:
query = """ SELECT BoosterVersion,LaunchSite, Serial, Class
FROM SPACEXTBL 
Where Date like '%2015%' and Class = 0 """


df  = pd.read_sql(query, con = engine )
df

  BoosterVersion    LaunchSite Serial  Class
0       Falcon 9  CCSFS SLC 40  B1012      0
1       Falcon 9  CCSFS SLC 40  B1015      0
2       Falcon 9  CCSFS SLC 40  B1016      0
3       Falcon 9  CCSFS SLC 40  B1018      0

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [29]:
query = """ SELECT BoosterVersion,LaunchSite, Serial, Class

FROM SPACEXTBL 
WHERE date BETWEEN '2010-06-04' AND '2017-03-20' """

df  = pd.read_sql(query, con = engine )
df

   BoosterVersion    LaunchSite Serial  Class
0        Falcon 9  CCSFS SLC 40  B0003      0
1        Falcon 9  CCSFS SLC 40  B0005      0
2        Falcon 9  CCSFS SLC 40  B0007      0
3        Falcon 9   VAFB SLC 4E  B1003      0
4        Falcon 9  CCSFS SLC 40  B1004      0
5        Falcon 9  CCSFS SLC 40  B1005      0
6        Falcon 9  CCSFS SLC 40  B1006      1
7        Falcon 9  CCSFS SLC 40  B1007      1
8        Falcon 9  CCSFS SLC 40  B1008      0
9        Falcon 9  CCSFS SLC 40  B1011      0
10       Falcon 9  CCSFS SLC 40  B1010      0
11       Falcon 9  CCSFS SLC 40  B1012      0
12       Falcon 9  CCSFS SLC 40  B1013      1
13       Falcon 9  CCSFS SLC 40  B1015      0
14       Falcon 9  CCSFS SLC 40  B1016      0
15       Falcon 9  CCSFS SLC 40  B1018      0
16       Falcon 9  CCSFS SLC 40  B1019      1
17       Falcon 9   VAFB SLC 4E  B1017      0
18       Falcon 9  CCSFS SLC 40  B1020      0
19       Falcon 9  CCSFS SLC 40  B1021      1
20       Falcon 9  CCSFS SLC 40  B1022      1
21       Falcon 9  CCSFS SLC 40  B1023      1
22       Falcon 9  CCSFS SLC 40  B1025      1
23       Falcon 9  CCSFS SLC 40  B1026      1
24       Falcon 9  CCSFS SLC 40  B1028      0
25       Falcon 9   VAFB SLC 4E  B1029      1
26       Falcon 9    KSC LC 39A  B1031      1
27       Falcon 9    KSC LC 39A  B1030      0